*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    width: 50vw;
    height: 50px;
    
}
.table{
    margin-left: 200px;
    margin-top: 300px;
    
}.hello{
    margin-left: 800px;
    
}
.he{
    text-decoration: none;
    font-size: 20px;

    padding: 11px;
    padding-left: 50px;
    width: 300px;
    background-color: blue;color: white;
}
.he:hover{
    background-color: orange;
    color: black;
}
.hes{
    text-decoration: none;
    font-size: 20px;
    /* margin-top: 100px; */
    padding: 11px;
    padding-left: 80px;
    width: 300px;

    background-color: blue;color: white;
}.hes:hover{
    background-color: orange;
    color: black;
}
.none{
    list-style: none;
}

.help{
    text-decoration: none;
    font-size: 20px;

    padding: 11px;
    padding-left: 50px;
    width: 300px;
    background-color: blue;color: white;
}
.help:hover{
    background-color: orange;
    color: black;
}
.hop{
    text-decoration: none;
    font-size: 20px;
    /* margin-top: 100px; */
    padding: 11px;
    padding-left: 80px;
    width: 300px;

    background-color: blue;color: white;
}.hop:hover{
    background-color: orange;
    color: black;

}
.top{
    text-decoration: none;
    font-size: 20px;
    /* margin-top: 100px; */
    padding: 11px;
    padding-left: 80px;
    width: 300px;

    background-color: blue;color: white;
}.top:hover{
    background-color: orange;
    color: black;

}
